.min-w-1 {
  min-width: 3.125rem;
}

.min-w-2 {
  min-width: 6.25rem;
}

.min-w-3 {
  min-width: 9.375rem;
}

.min-w-4 {
  min-width: 12.5rem;
}

.min-w-5 {
  min-width: 15.625rem;
}

.min-w-6 {
  min-width: 18.75rem;
}

.bg-base-black {
  background-color: #000000 !important;
}

.text-base-black {
  color: #000000 !important;
}

.bg-base-white {
  background-color: #ffffff !important;
}

.text-base-white {
  color: #ffffff !important;
}

.bg-main-blue {
  background-color: #2a85ff !important;
}

.text-main-blue {
  color: #2a85ff !important;
}

.bg-main-orange {
  background-color: #fe8d30 !important;
}

.text-main-orange {
  color: #fe8d30 !important;
}

.bg-main-500 {
  background-color: #95c2ff !important;
}

.text-main-500 {
  color: #95c2ff !important;
}

.bg-main-600 {
  background-color: #d8ebff !important;
}

.text-main-600 {
  color: #d8ebff !important;
}

.bg-main-700 {
  background-color: #bdd8fd !important;
}

.text-main-700 {
  color: #bdd8fd !important;
}

.bg-main-800 {
  background-color: #5399ff !important;
}

.text-main-800 {
  color: #5399ff !important;
}

.bg-main-900 {
  background-color: rgba(17, 85, 68, 0.4666666667) !important;
}

.text-main-900 {
  color: rgba(17, 85, 68, 0.4666666667) !important;
}

.bg-secondary-green {
  background-color: #b5e4ca !important;
}

.text-secondary-green {
  color: #b5e4ca !important;
}

.bg-secondary-purple {
  background-color: #cabdff !important;
}

.text-secondary-purple {
  color: #cabdff !important;
}

.bg-greyscale-50 {
  background-color: #f7fafc !important;
}

.text-greyscale-50 {
  color: #f7fafc !important;
}

.bg-greyscale-100 {
  background-color: #eff4f8 !important;
}

.text-greyscale-100 {
  color: #eff4f8 !important;
}

.bg-greyscale-200 {
  background-color: #e2e8f0 !important;
}

.text-greyscale-200 {
  color: #e2e8f0 !important;
}

.bg-greyscale-300 {
  background-color: #cbd5e0 !important;
}

.text-greyscale-300 {
  color: #cbd5e0 !important;
}

.bg-greyscale-400 {
  background-color: #a0aec0 !important;
}

.text-greyscale-400 {
  color: #a0aec0 !important;
}

.bg-greyscale-500 {
  background-color: #718096 !important;
}

.text-greyscale-500 {
  color: #718096 !important;
}

.bg-greyscale-600 {
  background-color: #4a5568 !important;
}

.text-greyscale-600 {
  color: #4a5568 !important;
}

.bg-greyscale-700 {
  background-color: #2d3748 !important;
}

.text-greyscale-700 {
  color: #2d3748 !important;
}

.bg-greyscale-800 {
  background-color: #1a202c !important;
}

.text-greyscale-800 {
  color: #1a202c !important;
}

.bg-greyscale-900 {
  background-color: #171923 !important;
}

.text-greyscale-900 {
  color: #171923 !important;
}

.bg-whitealpha-0 {
  background-color: rgba(255, 255, 255, 0) !important;
}

.text-whitealpha-0 {
  color: rgba(255, 255, 255, 0) !important;
}

.bg-whitealpha-10 {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.text-whitealpha-10 {
  color: rgba(255, 255, 255, 0.05) !important;
}

.bg-whitealpha-100 {
  background-color: rgba(255, 255, 255, 0.08) !important;
}

.text-whitealpha-100 {
  color: rgba(255, 255, 255, 0.08) !important;
}

.bg-whitealpha-200 {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.text-whitealpha-200 {
  color: rgba(255, 255, 255, 0.1) !important;
}

.bg-whitealpha-300 {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

.text-whitealpha-300 {
  color: rgba(255, 255, 255, 0.15) !important;
}

.bg-whitealpha-400 {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.text-whitealpha-400 {
  color: rgba(255, 255, 255, 0.2) !important;
}

.bg-whitealpha-500 {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.text-whitealpha-500 {
  color: rgba(255, 255, 255, 0.3) !important;
}

.bg-whitealpha-600 {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.text-whitealpha-600 {
  color: rgba(255, 255, 255, 0.5) !important;
}

.bg-whitealpha-700 {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.text-whitealpha-700 {
  color: rgba(255, 255, 255, 0.7) !important;
}

.bg-whitealpha-800 {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.text-whitealpha-800 {
  color: rgba(255, 255, 255, 0.8) !important;
}

.bg-whitealpha-900 {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.text-whitealpha-900 {
  color: rgba(255, 255, 255, 0.9) !important;
}

.bg-other-red {
  background-color: #fe2525 !important;
}

.text-other-red {
  color: #fe2525 !important;
}

.bg-other-soft-red {
  background-color: #f16363 !important;
}

.text-other-soft-red {
  color: #f16363 !important;
}

.bg-other-orange {
  background-color: #fcc55b !important;
}

.text-other-orange {
  color: #fcc55b !important;
}

.bg-other-yellow {
  background-color: #fce25d !important;
}

.text-other-yellow {
  color: #fce25d !important;
}

.bg-other-blue {
  background-color: #221dff !important;
}

.text-other-blue {
  color: #221dff !important;
}

.bg-other-green {
  background-color: #80f17e !important;
}

.text-other-green {
  color: #80f17e !important;
}

.bg-other-purple {
  background-color: #887dff !important;
}

.text-other-purple {
  color: #887dff !important;
}

.bg-soft-grey-light {
  background-color: #fcfcfc !important;
}

.text-soft-grey-light {
  color: #fcfcfc !important;
}

.bg-soft-grey {
  background-color: #f4f4f4 !important;
}

.text-soft-grey {
  color: #f4f4f4 !important;
}

.bg-soft-gray {
  background-color: #f2f3f3 !important;
}

.text-soft-gray {
  color: #f2f3f3 !important;
}

.bg-soft-blue {
  background-color: #ebf5ff !important;
}

.text-soft-blue {
  color: #ebf5ff !important;
}

.bg-soft-pink {
  background-color: #fef0f0 !important;
}

.text-soft-pink {
  color: #fef0f0 !important;
}

.bg-soft-orange {
  background-color: #fff5eb !important;
}

.text-soft-orange {
  color: #fff5eb !important;
}

.bg-soft-green-mint {
  background-color: #e8faf2 !important;
}

.text-soft-green-mint {
  color: #e8faf2 !important;
}

.bg-soft-green-sky {
  background-color: #e8fffa !important;
}

.text-soft-green-sky {
  color: #e8fffa !important;
}

.bg-soft-green-light {
  background-color: #e2eade !important;
}

.text-soft-green-light {
  color: #e2eade !important;
}

.bg-soft-green-bg {
  background-color: #e8fce8 !important;
}

.text-soft-green-bg {
  color: #e8fce8 !important;
}

.bg-soft-red {
  background-color: #fce0e0 !important;
}

.text-soft-red {
  color: #fce0e0 !important;
}

.m-t-1 {
  margin-top: 0.25rem !important;
}

.m-t-2 {
  margin-top: 0.5rem !important;
}

.m-t-3 {
  margin-top: 0.75rem !important;
}

.m-t-4 {
  margin-top: 1rem !important;
}

.m-t-5 {
  margin-top: 1.25rem !important;
}

.m-t-6 {
  margin-top: 1.5rem !important;
}

.m-t-7 {
  margin-top: 1.75rem !important;
}

.m-t-8 {
  margin-top: 2rem !important;
}

.m-t-9 {
  margin-top: 2.25rem !important;
}

.m-t-10 {
  margin-top: 2.5rem !important;
}

.m-t-11 {
  margin-top: 2.75rem !important;
}

.m-t-12 {
  margin-top: 3rem !important;
}

.m-b-1 {
  margin-bottom: 0.25rem !important;
}

.m-b-2 {
  margin-bottom: 0.5rem !important;
}

.m-b-3 {
  margin-bottom: 0.75rem !important;
}

.m-b-4 {
  margin-bottom: 1rem !important;
}

.m-b-5 {
  margin-bottom: 1.25rem !important;
}

.m-b-6 {
  margin-bottom: 1.5rem !important;
}

.m-b-7 {
  margin-bottom: 1.75rem !important;
}

.m-b-8 {
  margin-bottom: 2rem !important;
}

.m-b-9 {
  margin-bottom: 2.25rem !important;
}

.m-b-10 {
  margin-bottom: 2.5rem !important;
}

.m-b-11 {
  margin-bottom: 2.75rem !important;
}

.m-b-12 {
  margin-bottom: 3rem !important;
}

.m-l-1 {
  margin-left: 0.25rem !important;
}

.m-l-2 {
  margin-left: 0.5rem !important;
}

.m-l-3 {
  margin-left: 0.75rem !important;
}

.m-l-4 {
  margin-left: 1rem !important;
}

.m-l-5 {
  margin-left: 1.25rem !important;
}

.m-l-6 {
  margin-left: 1.5rem !important;
}

.m-l-7 {
  margin-left: 1.75rem !important;
}

.m-l-8 {
  margin-left: 2rem !important;
}

.m-l-9 {
  margin-left: 2.25rem !important;
}

.m-l-10 {
  margin-left: 2.5rem !important;
}

.m-l-11 {
  margin-left: 2.75rem !important;
}

.m-l-12 {
  margin-left: 3rem !important;
}

.m-r-1 {
  margin-right: 0.25rem !important;
}

.m-r-2 {
  margin-right: 0.5rem !important;
}

.m-r-3 {
  margin-right: 0.75rem !important;
}

.m-r-4 {
  margin-right: 1rem !important;
}

.m-r-5 {
  margin-right: 1.25rem !important;
}

.m-r-6 {
  margin-right: 1.5rem !important;
}

.m-r-7 {
  margin-right: 1.75rem !important;
}

.m-r-8 {
  margin-right: 2rem !important;
}

.m-r-9 {
  margin-right: 2.25rem !important;
}

.m-r-10 {
  margin-right: 2.5rem !important;
}

.m-r-11 {
  margin-right: 2.75rem !important;
}

.m-r-12 {
  margin-right: 3rem !important;
}

.m-x-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.m-x-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.m-x-3 {
  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important;
}

.m-x-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.m-x-5 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important;
}

.m-x-6 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.m-x-7 {
  margin-left: 1.75rem !important;
  margin-right: 1.75rem !important;
}

.m-x-8 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.m-x-9 {
  margin-left: 2.25rem !important;
  margin-right: 2.25rem !important;
}

.m-x-10 {
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important;
}

.m-x-11 {
  margin-left: 2.75rem !important;
  margin-right: 2.75rem !important;
}

.m-x-12 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.m-y-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.m-y-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.m-y-3 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

.m-y-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.m-y-5 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}

.m-y-6 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.m-y-7 {
  margin-top: 1.75rem !important;
  margin-bottom: 1.75rem !important;
}

.m-y-8 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.m-y-9 {
  margin-top: 2.25rem !important;
  margin-bottom: 2.25rem !important;
}

.m-y-10 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

.m-y-11 {
  margin-top: 2.75rem !important;
  margin-bottom: 2.75rem !important;
}

.m-y-12 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 0.75rem !important;
}

.m-4 {
  margin: 1rem !important;
}

.m-5 {
  margin: 1.25rem !important;
}

.m-6 {
  margin: 1.5rem !important;
}

.m-7 {
  margin: 1.75rem !important;
}

.m-8 {
  margin: 2rem !important;
}

.m-9 {
  margin: 2.25rem !important;
}

.m-10 {
  margin: 2.5rem !important;
}

.m-11 {
  margin: 2.75rem !important;
}

.m-12 {
  margin: 3rem !important;
}

.p-t-1 {
  padding-top: 0.25rem !important;
}

.p-t-2 {
  padding-top: 0.5rem !important;
}

.p-t-3 {
  padding-top: 0.75rem !important;
}

.p-t-4 {
  padding-top: 1rem !important;
}

.p-t-5 {
  padding-top: 1.25rem !important;
}

.p-t-6 {
  padding-top: 1.5rem !important;
}

.p-t-7 {
  padding-top: 1.75rem !important;
}

.p-t-8 {
  padding-top: 2rem !important;
}

.p-t-9 {
  padding-top: 2.25rem !important;
}

.p-t-10 {
  padding-top: 2.5rem !important;
}

.p-t-11 {
  padding-top: 2.75rem !important;
}

.p-t-12 {
  padding-top: 3rem !important;
}

.p-b-1 {
  padding-bottom: 0.25rem !important;
}

.p-b-2 {
  padding-bottom: 0.5rem !important;
}

.p-b-3 {
  padding-bottom: 0.75rem !important;
}

.p-b-4 {
  padding-bottom: 1rem !important;
}

.p-b-5 {
  padding-bottom: 1.25rem !important;
}

.p-b-6 {
  padding-bottom: 1.5rem !important;
}

.p-b-7 {
  padding-bottom: 1.75rem !important;
}

.p-b-8 {
  padding-bottom: 2rem !important;
}

.p-b-9 {
  padding-bottom: 2.25rem !important;
}

.p-b-10 {
  padding-bottom: 2.5rem !important;
}

.p-b-11 {
  padding-bottom: 2.75rem !important;
}

.p-b-12 {
  padding-bottom: 3rem !important;
}

.p-l-1 {
  padding-left: 0.25rem !important;
}

.p-l-2 {
  padding-left: 0.5rem !important;
}

.p-l-3 {
  padding-left: 0.75rem !important;
}

.p-l-4 {
  padding-left: 1rem !important;
}

.p-l-5 {
  padding-left: 1.25rem !important;
}

.p-l-6 {
  padding-left: 1.5rem !important;
}

.p-l-7 {
  padding-left: 1.75rem !important;
}

.p-l-8 {
  padding-left: 2rem !important;
}

.p-l-9 {
  padding-left: 2.25rem !important;
}

.p-l-10 {
  padding-left: 2.5rem !important;
}

.p-l-11 {
  padding-left: 2.75rem !important;
}

.p-l-12 {
  padding-left: 3rem !important;
}

.p-r-1 {
  padding-right: 0.25rem !important;
}

.p-r-2 {
  padding-right: 0.5rem !important;
}

.p-r-3 {
  padding-right: 0.75rem !important;
}

.p-r-4 {
  padding-right: 1rem !important;
}

.p-r-5 {
  padding-right: 1.25rem !important;
}

.p-r-6 {
  padding-right: 1.5rem !important;
}

.p-r-7 {
  padding-right: 1.75rem !important;
}

.p-r-8 {
  padding-right: 2rem !important;
}

.p-r-9 {
  padding-right: 2.25rem !important;
}

.p-r-10 {
  padding-right: 2.5rem !important;
}

.p-r-11 {
  padding-right: 2.75rem !important;
}

.p-r-12 {
  padding-right: 3rem !important;
}

.p-x-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.p-x-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.p-x-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.p-x-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.p-x-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.p-x-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.p-x-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important;
}

.p-x-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.p-x-9 {
  padding-left: 2.25rem !important;
  padding-right: 2.25rem !important;
}

.p-x-10 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.p-x-11 {
  padding-left: 2.75rem !important;
  padding-right: 2.75rem !important;
}

.p-x-12 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.p-y-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.p-y-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.p-y-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.p-y-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.p-y-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.p-y-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.p-y-7 {
  padding-top: 1.75rem !important;
  padding-bottom: 1.75rem !important;
}

.p-y-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.p-y-9 {
  padding-top: 2.25rem !important;
  padding-bottom: 2.25rem !important;
}

.p-y-10 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.p-y-11 {
  padding-top: 2.75rem !important;
  padding-bottom: 2.75rem !important;
}

.p-y-12 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 0.75rem !important;
}

.p-4 {
  padding: 1rem !important;
}

.p-5 {
  padding: 1.25rem !important;
}

.p-6 {
  padding: 1.5rem !important;
}

.p-7 {
  padding: 1.75rem !important;
}

.p-8 {
  padding: 2rem !important;
}

.p-9 {
  padding: 2.25rem !important;
}

.p-10 {
  padding: 2.5rem !important;
}

.p-11 {
  padding: 2.75rem !important;
}

.p-12 {
  padding: 3rem !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.link {
  text-decoration: none;
}
.link-underline {
  text-decoration: underline;
}
.link-default {
  color: #2a85ff;
}
.link-hover {
  -webkit-transition: color 200ms;
  transition: color 200ms;
}
.link-hover:hover {
  color: #2a85ff;
}

.w-100 {
  width: 100% !important;
}

.border-radius-full {
  border-radius: 50% !important;
}

.border-radius-7 {
  border-radius: 0.75rem !important;
}

.display-1 {
  font-size: 2rem !important;
  line-height: 2.5rem !important;
}

.display-2 {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

.display-3 {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

.display-4 {
  font-size: 1.125rem !important;
  line-height: 1.5rem !important;
}

.display-5 {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

.display-6 {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.display-7 {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}

.display-8 {
  font-size: 0.625rem !important;
  line-height: 0.875rem !important;
}

.font-weight-thin {
  font-weight: 100;
}

.font-weight-extralight {
  font-weight: 200;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-extrabold {
  font-weight: 800;
}

.font-weight-black {
  font-weight: 900;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../fonts/MarkPro-Medium.woff2") format("woff2"), url("../fonts/MarkPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mark Pro";
  src: url("../fonts/MarkPro-Heavy.woff2") format("woff2"), url("../fonts/MarkPro-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vito Compressed AZ";
  src: url("../fonts/VitoCompressedAZ-Bold.woff2") format("woff2"), url("../fonts/VitoCompressedAZ-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Mark Pro";
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  outline: none !important;
  overflow-x: hidden !important;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-start {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.flex-center {
  -ms-flex-pack: center !important;
  -webkit-box-pack: center !important;
  justify-content: center !important;
  text-align: center !important;
}

.flex-end {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.flex-top {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.flex-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.flex-middle {
  -ms-flex-align: center !important;
  -webkit-box-align: center !important;
  align-items: center !important;
}

.flex-bottom {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.flex-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-between {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.flex-first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.flex-last {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.flex-content-between {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.flex-grow {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-align-right {
  margin-left: auto;
}

.flex-align-left {
  margin-right: auto;
}

.flex-align-top {
  margin-bottom: auto;
}

.flex-align-bottom {
  margin-top: auto;
}

.flex-self-baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.flex-1 {
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 !important;
  flex: 1 !important;
}

.flex-2 {
  -webkit-box-flex: 2 !important;
  -ms-flex: 2 !important;
  flex: 2 !important;
}

.flex-3 {
  -webkit-box-flex: 3 !important;
  -ms-flex: 3 !important;
  flex: 3 !important;
}

.flex-4 {
  -webkit-box-flex: 4 !important;
  -ms-flex: 4 !important;
  flex: 4 !important;
}

.gutter-8 {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}
.gutter-8 > [class*=col-] {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.gutter-12 {
  margin-left: -0.375rem;
  margin-right: -0.375rem;
}
.gutter-12 > [class*=col-] {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.gutter-14 {
  margin-left: -0.438rem;
  margin-right: -0.438rem;
}
.gutter-14 > [class*=col-] {
  padding-right: 0.438rem;
  padding-left: 0.438rem;
}

.gutter-16 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.gutter-16 > [class*=col-] {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.gutter-20 {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}
.gutter-20 > [class*=col-] {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.gutter-24 {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.gutter-24 > [class*=col-] {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.gutter-32 {
  margin-left: -1rem;
  margin-right: -1rem;
}
.gutter-32 > [class*=col-] {
  padding-right: 1rem;
  padding-left: 1rem;
}

.gutter-40 {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
.gutter-40 > [class*=col-] {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.gutter-48 {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.gutter-48 > [class*=col-] {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
  position: relative;
  width: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.row-cols-1 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.row-cols-2 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.row-cols-3 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.row-cols-4 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.row-cols-5 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.row-cols-6 > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.order-last {
  -webkit-box-ordinal-group: 14;
  -ms-flex-order: 13;
  order: 13;
}

.order-0 {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.order-3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.order-4 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

.order-5 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

.order-6 {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6;
}

.order-7 {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7;
}

.order-8 {
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  order: 8;
}

.order-9 {
  -webkit-box-ordinal-group: 10;
  -ms-flex-order: 9;
  order: 9;
}

.order-10 {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10;
}

.order-11 {
  -webkit-box-ordinal-group: 12;
  -ms-flex-order: 11;
  order: 11;
}

.order-12 {
  -webkit-box-ordinal-group: 13;
  -ms-flex-order: 12;
  order: 12;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-sm-2 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-sm-3 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-cols-sm-4 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-sm-5 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-sm-6 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-sm-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-sm-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-md-1 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-md-2 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-md-3 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-cols-md-4 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-md-5 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-md-6 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-md-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-md-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-lg-1 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-lg-2 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-lg-3 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-cols-lg-4 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-lg-5 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-lg-6 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-lg-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-lg-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-xl-1 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-xl-2 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-xl-3 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-cols-xl-4 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-xl-5 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-xl-6 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-xl-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-xl-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-xl-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-xl-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-xl-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-xl-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-xl-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-xl-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-xl-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-xl-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-xl-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-xl-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-xl-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-xl-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}
.heading-1 {
  font-size: 6rem;
  line-height: 7.5rem;
  margin: 0;
}

.heading-2 {
  font-size: 5rem;
  line-height: 6.25rem;
  margin: 0;
}

.heading-3 {
  font-size: 4.5rem;
  line-height: 6rem;
  margin: 0;
}

.heading-4 {
  font-size: 4rem;
  line-height: 5rem;
  margin: 0;
}

.heading-5 {
  font-size: 3.5rem;
  line-height: 4rem;
  margin: 0;
}

.heading-6 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 0;
}

.heading-7 {
  font-size: 2.75rem;
  line-height: 3rem;
  margin: 0;
}

.heading-8 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Mark Pro";
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  outline: none !important;
  overflow-x: hidden !important;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.125em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.75em;
}

h6 {
  font-size: 0.5625em;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.base-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
}

.board {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background: -webkit-gradient(linear, left top, right top, from(#B37E10), color-stop(27%, #F8DD7B), color-stop(47.6%, #FDF1A4), color-stop(67.2%, #F8DD7B), to(#B37E10));
  background: linear-gradient(90deg, #B37E10 0%, #F8DD7B 27%, #FDF1A4 47.6%, #F8DD7B 67.2%, #B37E10 100%);
  border: 10px solid #ecb036;
  border-radius: 48px;
  padding: 40px;
  gap: 24px 40px;
}

.board > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.board > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.board > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.board > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.board > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
.board-item {
  position: relative;
  width: 110px;
  height: 88px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  border: 4px solid #ecb036;
  border-radius: 12px;
  padding: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

}
.board-item:last-child {
  width: auto;
  font-size: 24px;
  line-height: 32px;
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.content {
  height: 636px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 96px;
}
.content-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content-heading .logos {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.content-name {
  font-size: 32px;
  line-height: 48px;
  color: #fff;
  text-align: center;
  margin: 6px 0;
}

.preload::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#B37E10), color-stop(15.1%, #B37E10), color-stop(61.3%, #F8DD7B), color-stop(72%, #FDF1A4), color-stop(83.9%, #F8DD7B), to(#B37E10));
  background: linear-gradient(90deg, #B37E10 0%, #B37E10 15.1%, #F8DD7B 61.3%, #FDF1A4 72%, #F8DD7B 83.9%, #B37E10 100%);
  z-index: 2;
}

.btn {
  width: 100%;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#B37E10), color-stop(27%, #F8DD7B), color-stop(47.6%, #FDF1A4), color-stop(67.2%, #F8DD7B), to(#B37E10));
  background: linear-gradient(90deg, #B37E10 0%, #F8DD7B 27%, #FDF1A4 47.6%, #F8DD7B 67.2%, #B37E10 100%);
  border: 4px solid #ecb036;
  border-radius: 20px;
  font-size: 32px;
  line-height: 32px;
  color: #000;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
}